predavanja/*/*/*.pdf
predavanja/*/*.pdf
predavanja/*.pdf
vezbe/*/*/*.pdf
vezbe/*/*.pdf
vezbe/*.pdf
admin/*.pdf
admin/*.pdf
instalacije/*.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
images/*.drawio.bkp
*.drawio.dtmp
*.listing
*.zip
/**/node_modules